/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/LICENSE.meta
/README.md.meta
/project.clj.meta
/src.meta
/doc.meta
/test.meta
/resources.meta
